h2{
	color: #2B343B;
	text-align: center;
}

a{
	color: #2B343B;
	font-size: 15px;
}
a:hover{
	text-decoration: none;
	color: #2B343B;
}

#sep{
	margin-bottom: 25px;
}

#sep_prod{
	margin-top: 25px;
	width: 100%;
	margin-left: 0;
}

#sep_prod1{
	margin-top: 25px;
	width: 90%;
	margin-left: 0;
}

#left_content, #right_content{
	margin-top: -25px;
}

.mycontent{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	overflow-x: hidden;
}

#left_content .product_name{
	width: 90%;
	font-size: 14px;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

#right_content .product_make{
	width: 90%;
	font-size: 14px;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

.input_box{
	width: 90%;
	font-size: 14px;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
}

.textarea_box{
	resize: none;
	width: 90%;
	padding: 10px;
	margin-top: 10px;
}

#left_content .product_desc{
	resize: none;
	width: 90%;
	padding: 10px;
	margin-top: 10px;
}



.space_dot{
	border: 1px dashed #f0f0f0;
}

#content_image{
	margin-top: 10px;
	width: 90%;
	height: 200px;
}

#btn_save_product{
	margin-top: 10px;
	width: 100px;
	margin-right: 50px;
	border-radius: 0px;
}
#btn_save_administrator, #btn_save_unggulan{
	width: 100px;
	margin-right: 50px;
	margin-top: 10px;
	border-radius: 0px;
}

#btn_save_email{
	width: 100px;
	margin-right: 0px;
	margin-top: 10px;
	border-radius: 0px;
}

#btn_save_unggulan{
	margin-left: 605px;
}

.btn.btn-default.btn_change_unggulan{
	width: 100px;
	margin-right: 50px;
	margin-top: 10px;
	border-radius: 0px;
}

.form-control.inp_box_{
	width: 550px; 
	border-radius: 0px;
}

#unggulan .form-group{
	margin-top: 10px;
}

.form-control.for_email{
	width: 400px;
	border-radius: 0px;
	border: 1px solid #cccccc;
}

@media screen and (max-width: 1024px){	
	#content_image{
		width: 90%;
		height: 150px;
	}
	#btn_save_product{
		margin-right: 50px;
	}	
}