h2{
	color: #2B343B;
	text-align: center;
}

a{
	color: #2B343B;
	font-size: 15px;
}
a:hover{
	text-decoration: none;
	color: #2B343B;
}

#sep{
	margin-bottom: 25px;
}

#sep_prod{
	margin-top: 25px;
	width: 90%;
	margin-left: 0;
}

#left_content, #right_content{
	margin-top: -25px;
}

.mycontent{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	overflow-x: hidden;
}

#left_content .product_name{
	width: 90%;
	font-size: 14px;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

.input_box{
	width: 90%;
	font-size: 14px;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
}

.textarea_box{
	resize: none;
	width: 90%;
	padding: 10px;
	margin-top: 10px;
}

#left_content .product_desc{
	resize: none;
	width: 90%;
	padding: 10px;
	margin-top: 10px;
}



.space_dot{
	border: 1px dashed #f0f0f0;
}

#content_image{
	margin-top: 10px;
	width: 90%;
	height: 200px;
}

#btn_save_product{
	width: 100px;
	margin-right: 70px;
	border-radius: 0px;
}
#btn_save_administrator{
	width: 100px;
	margin-right: 50px;
	margin-top: 10px;
	border-radius: 0px;
}

@media screen and (max-width: 1024px){	
	#content_image{
		width: 90%;
		height: 150px;
	}
	#btn_save_product{
		margin-right: 50px;
	}	
}