body {
    background-color: #2B343B;
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#title_page{
	color: #f0f0f0;
	font-weight: bold;
	text-align: center;
	margin-top: 12%;
}

#row_1{
	border: none;
	height: 2px;
	background: #f0f0f0;
}

#row_2{
	border: none;
	height: 5px;
	background: #f0f0f0;
	margin-top: -12px;
}

input{
	height: 40px;
	background: transparent;
	color: #f0f0f0;
	width: 100%;
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#admin_uname{
	margin-top: 25px;
	margin-bottom: 10px;
}

#btn_login{
	margin-top: 10px;
	height: 40px;
	width:150px;
	font-size: 20px;
	font-weight: bold;
	background: #f0f0f0;
	color: #2B343B;
	margin-bottom: 20px;
}

#row_3{
	border: none;
	height: 5px;
	background: #f0f0f0;
	margin-bottom: -12px;
}

#row_4{
	border: none;
	height: 2px;
	background: #f0f0f0;
}