.content #contact_us{
	margin-left: 50px;
}
.content #contact_us, .content #subscribe_us{
	background-color: #f0f0f0;
	box-shadow: 5px -5px 20px grey;
	padding-top: 30px;
	padding-bottom: 50px;
	margin-top: -100px;
	height: 580px;
}

.content #contact_us h3, .content #subscribe_us h3{
	color: #0071bc;
	font-family: Exo2;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 75px;
}

.content .form-group{
	width: 85%;
	margin-right: auto;
	margin-left: auto;
}

.content .form-group input, .content .form-group textarea{
	border-radius: 10px;
	font-family: Ubuntu;
	font-size: 15px;
	color: #0071bc;
}

.content input.form-control::-webkit-input-placeholder {
    color:    #0071bc;
    opacity: .6;
}
.content input.form-control:-moz-placeholder {
    color:    #0071bc;
    opacity: .6;
}
.content input.form-control::-moz-placeholder {
    color:    #0071bc;
    opacity: .6;
}
.content input.form-control:-ms-input-placeholder {
    color:    #0071bc;
    opacity: .6;
}
.content textarea.form-control::-webkit-input-placeholder {
    color:    #0071bc;
    opacity: .6;
}
.content textarea.form-control:-moz-placeholder {
    color:    #0071bc;
    opacity: .6;
}
.content textarea.form-control::-moz-placeholder {
    color:    #0071bc;
    opacity: .6;
}
.content textarea.form-control:-ms-input-placeholder {
    color:    #0071bc;
    opacity: .6;
}
.content button{
	border-radius: 10px;
	padding-left: 20px;
	color: #0071bc;
	background-color: #fff000;
	font-family: Ubuntu;
	font-size: 16px;
	margin-right: 70px;
	border-radius: 10px;
	margin-top: 50px;
}
.content #contact_us_button:hover{
	text-decoration: none;
	color: #0071bc;
}
.content #search_icon{
	padding-left: 5px;
}

.content #subscribe_us p{
	font-family: Ubuntu;
	font-size: 15px;
	color: #807f7e;
	text-align: center;
	line-height: 25px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}
.content #welcome{
	margin-bottom: 0px;	
}

.content #subscribe_us_input_name{
	margin-top: 30px;
}

.content #subscribe_us_button{
	margin-top: 130px;
	margin-right: 40px;
}

@media screen and (max-width: 1024px){
	.content #contact_us_button, .content #subscribe_us_button{
		margin-right: 30px;
	}	
	.content #welcome{
		width: 300px !important;
	}
	.content #sub_desc{
		width: 300px !important;
	}
	.content #subscribe_us_button{
		margin-top: 80px;
	}
}

@media screen and (max-width: 980px){
	.content #contact_us_button, .content #subscribe_us_button{
		margin-right: 30px;
	}	
	.content #welcome{
		width: 250px !important;
	}
	.content #sub_desc{
		width: 250px !important;
	}
	.content #subscribe_us_button{
		margin-top: 50px;
	}
}


@media screen and (max-width: 850px){
	.content{
		margin-left: -40px;
	}
}

@media screen and (max-width: 786px){
	.content #contact_us{
		margin-top: 100px;
	}
	.content #subscribe_us{
		margin-top: 100px;
		margin-left: 50px;
	}
	.content #welcome, .content #sub_desc{
		width: 500px;
	}
	.content{
		margin-top: -200px;
	}
}

@media screen and (max-width: 758px){
	.content #welcome, .content #sub_desc{
		width: 600px;
	}
}

@media screen and (max-width: 450px){
	.content{
		margin-top: -80px;
	}
	.content #welcome, .content #sub_desc{
		width: 250px;
	}
}
