#title{
	margin-top: 75px;
	margin-bottom: 50px;
}
#title h3{
	font-family: Exo2;
	font-size: 30px;
	color: #0071bc;
	font-weight: bold;
}
#title p{
	font-family: Ubuntu;
	color: #4d4d4d;
}
#result_title{
	color: #0071bc;
	font-family: Ubuntu;
}
#result_desc{
	color: #4d4d4d;
	font-family: Ubuntu;
	line-height: 25px;
	margin-top: -5px;
	width: 90%;
}
#container{
	margin-left: 125px;
}
.separator{
	margin-bottom: 30px;
}
#to_footer{
	margin-bottom: 50px;
}
.paging{
	font-family: Ubuntu;
	color: #636363;
	margin-right: 150px;
}

@media screen and (max-width: 1024px){
	#result_desc{
		padding-right: 80px;
	}
	.paging{
		padding-right: 50px;
	}
}

@media screen and (max-width: 980px){
	#result_desc{
		padding-right: 0px;
	}
}

@media screen and (max-width: 800px){
	#title{
		margin-left: -50px;
	}
	#result{
		margin-left: -50px;
	}
	#result_desc{
		padding-right: 80px;
	}
	.paging{
		padding-right: 50px;
	}
}

@media screen and (max-width: 768px){
	#result_desc{
		padding-right: 0px;
	}
	.paging{
		margin-right: 20px;
	}
}

@media screen and (max-width: 400px){
	#title{
		margin-left: -90px;
		margin-top: 80px;
	}
	#title h3{
		margin-left: 5px;
	}
	#title p{
		text-align: center;
		width: 250px;
	}
	#result{
		margin-left: -90px;
	}
	#result_desc{
		padding-right: 0px;
	}
	.paging{
		margin-left: -80px;
	}
}
