#title{
	text-align: center;
	margin-top: 300px;
	margin-bottom: 75px;
}
#title h3{
	font-family: Exo2;
	font-size: 30px;
	color: #0071bc;
	font-weight: bold;
}
#title p{
	font-family: Ubuntu;
	color: #4d4d4d;
}

#result ul{
	text-decoration-style: none;
}

#result ul li{
	display: inline;
}

.image_result{
	width: 250px;
}

.content_slider{
	width: 250px;
	background-color: #fff;
	box-shadow: 5px 5px 20px grey;
}
.desc_title{
	background-color: #fff000;
	text-align: center;
	font-family: Exo2-med;
	font-size: 15px;
}
.desc_title p{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 10px;
}
.desc_body{
	font-family: Ubuntu;
	color: #636363;
	padding-left: 20px;
}
.desc_footer{
	padding-left: 20px;
	font-family: Ubuntu;
	color: #2081d1;
	padding-bottom: 10px;
}

#to_footer{
	margin-bottom: 50px;
}

.paging{
	font-family: Ubuntu;
	color: #636363;
	margin-right: 25px;
	margin-top: 75px;
}

#paging_info{
	font-family: Ubuntu;
	color: #636363;	
	margin-left: 920px;
	margin-top: 27px;
	position: absolute;
}
ul.pagination{
	margin-right: 130px;
}

@media screen and (max-width: 1280px){
	#paging_info{
		margin-left: 800px;
	}
}

@media screen and (max-width: 1024px){
	.col-sm-3{
		margin-right: 80px;
	}
	#rsl1, #rsl3{
		margin-left: 180px;
	}
	#rsl3, #rsl4{
		margin-top: 30px;
	}
	#paging_info{
		margin-left: 550px;
	}
}

@media screen and (max-width: 980px){
	.col-sm-3{
		margin-right: 120px;
	}
	#rsl1, #rsl3{
		margin-left: 80px;
	}
	#rsl3, #rsl4{
		margin-top: 30px;
	}
	#paging_info{
		margin-left: 510px;
	}
}

@media screen and (max-width: 768px){
	.content{
		margin-top: -150px;
	}
	#rsl1, #rsl3{
		margin-left: 210px;
	}
	#rsl2, #rsl4{
		margin-left: 210px;
	}
	#rsl2{
		margin-top: 30px;
	}
	ul.pagination{
		margin-right: 200px;
	}
	#paging_info{
		margin-left: 220px;
	}
}

@media screen and (max-width: 400px){
	.content{
		margin-top: 0px;
		margin-left: 20px;
	}
	#rsl1, #rsl3{
		margin-left: 20px;
	}
	#rsl2, #rsl4{
		margin-left: 20px;
	}
	#rsl2{
		margin-top: 30px;
	}
	#title{
		margin-top: 100px;
	}
	ul.pagination{
		margin-right: 20px;
	}
	#paging_info{
		margin-left: 150px;
		margin-top: 0px;
	}
}