.header{
	background: rgb(30, 104, 229);
	background: rgba(30, 104, 229, 0.8);
	width: 100%;
	height: 140px;
	position: absolute;
}
#logo_image{
	width: 375px;
	margin-left: 30px;
	margin-top: 17px;
}
#right_header{
	text-align: right;
	padding-right: 50px;
	font-family: Ubuntu;
	color: #fff000;
}

#lang{
	margin-top: 20px;
	font-size: 13px;
}
#lang a{
	color: #fff000;
}
#lang a:hover{
	text-decoration: none;
}
#log_reg{
	border: 2px solid #fff000;
	border-radius: 5px;
	margin-left: 450px;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
}
#log_reg a{
	color: #fff000;
}
#log_reg a:hover{
	text-decoration: none;
}

.menu ul li{
	display: inline;
}
.menu ul li img{
	background: #000;
}

/*DROPDOWN MENU*/
#menu1{
	width: 30px;
}
#menu2{
	width: 35px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 1px;
	padding-bottom: 1px;
}
#menu3{
	width: 30PX;
	margin-left: 2px;
	margin-right: 2px;
}
#menu4{
	width: 30px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	padding-right: 1px;
	margin-left: 2px;
	margin-right: 2px;
}
#cari{
	padding-top: 23px;
	padding-bottom: 23px;
}
.dropbtn {
    background-color: #00a0e8;
    color: white;
    padding: 10px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
}
.dropbtn.active{
    background-color: #fff000;
}

#drop1, #drop2, #drop3{
	margin-right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 14px 2px;
    color: #00a0e8;
    text-decoration: none;
    display: block;
    font-family: Ubuntu;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

.dropdown-content a:hover {
	background: rgb(0, 160, 232);
	background: rgba(0, 160, 232, 0.8);
	color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #00a0e8;
}

.dropdown:hover .dropbtn.active {
    background-color: #fff000;
}

#btn_menu{
	display: none;	
}

.m_menu {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
.m_menu_content {
    background-image: url('../image/content/blue_bg.png');
    color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
}
#close_menu{
	text-align: center;
	font-family: Ubuntu;
	font-weight: bold;
	color: #fff000;
	font-size: 16px;
}
#close_menu:hover{
	cursor: pointer;
	background: #fff000;
	color: #00a0e8;
}
.m_menu_content a{
	font-family: Ubuntu;
	color: #fff000;
	font-weight: bold;
	text-align: center;
	font-size: 16px;
}
.m_menu_content a:hover{
	text-decoration: none;
	color: #00a0e8;
}

.m_menu_content a:hover p{
	background: #fff000;
}

.menu_list{
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #fff000;
}

/*NOTIF LOGIN REGISTER*/
.m_notifikasi {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.m_login {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content */
.m_notifikasi_content {
    background-color: #fff;
    color: #00a0e8;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.m_login_content {
    background-image: url('../image/content/blue_bg.png');
    color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.m_notifikasi_content p{
	font-family: Ubuntu;
	font-size: 16px;
	width: 420px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}
.m_login_content p{
	font-family: Ubuntu;
	font-size: 14px;
	width: 420px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: 120px;
}

#email_login{
	margin-top: -40px;
	width: 450px;
	border-radius: 10px;
	margin-left: 120px;
}
#password_login{
	width: 450px;
	border-radius: 10px;
	margin-left: 120px;
}

.close_notifikasi {
    color: #fff;
    float: right;
    font-size: 15px;
    font-weight: bold;
    background-color: #00a0e8;
    padding: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.close_login {
    color: #000;
    float: right;
    font-size: 15px;
    font-weight: bold;
    background-color: #fff;
    padding: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.close_register {
    color: #000;
    float: right;
    font-size: 15px;
    font-weight: bold;
    background-color: #fff;
    padding: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.close_notifikasi:hover,
.close_login:hover,
.close_register:hover,
.close_notifikasi:focus,
.close_login:focus,
.close_register:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


input.form-control{
	color: #0071bc;
}

input.form-control::-webkit-input-placeholder {
    color:    #0071bc;
    opacity: .6;
}
input.form-control:-moz-placeholder {
    color:    #0071bc;
    opacity: .6;
}
input.form-control::-moz-placeholder {
    color:    #0071bc;
    opacity: .6;
}
input.form-control:-ms-input-placeholder {
    color:    #0071bc;
    opacity: .6;
}

#login_button{
	font-family: Ubuntu;
	background-color: #fff000;
	font-size: 15px;
	border-radius: 5px;
	color: #007bc5;
	margin-left: 510px;
	margin-bottom: 30px;
}

button span{
	color: #000;
	background-color: #fff;
}
.modal-header{
	background-color: #fff000;
}

.modal-header h4{
	color: #0071bc;
	font-family: Exo2;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.modal-body p{
	font-family: Ubuntu;
	font-size: 14px;
	text-align: center;
}
#m_p1{
	padding-top: 15px;
}
#m_p2{
	padding-bottom: 30px;
}
.form-control.reg_input{
	border-radius: 10px;
	width: 475;
	margin-left: 200px;
	font-family: Ubuntu;
}
#m_p3{
	color: #0071bc;
	font-family: Ubuntu;
	margin-left: -200px;
	padding-top: 20px;
}
.radio{
	color: #0071bc;
	font-family: Ubuntu;
	margin-left: 250px;
}
.input_line{
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
	border-bottom-color: #0071bc;
	font-family: Ubuntu;
	color: #0071bc;
}
#m_p4{
	padding-top: 20px;	
	color: #0071bc;
	font-family: Ubuntu;
	margin-left: -50px;
}
#m_p5{
	padding-top: 20px;
	color: #0071bc;
	font-family: Ubuntu;
	margin-left: 15px;
}
#register_button{
	background-color: #00a0e8;
	color: #fff000;
	font-family: Ubuntu;
	margin-top: 15px;
}
#m_p6{
	padding-top: 20px;
}
.footer_register{
	padding-top: 20px;
	margin-left: 150px;
}
#end_register{
	margin-bottom: 50px;
}


@media screen and (max-width: 1024px){
	#log_reg{
		margin-left: 250px;
	}
/*LOGIN*/
	.m_login_content p{
		margin-left: 20px;
	}
	.m_login_content .form-group{
		margin-left: -100px;
	}
	#login_button{
		margin-left: 410px;
	}
}

@media screen and (max-width: 980px){
/*NOTIF LOGIN REGISTER*/
	#uname_reg, #upass_reg, #upass_conf_reg, #uname_full_reg, #nama_toko_reg, #alamat_toko_reg, #kota_reg, #provinsi_reg, #phone_reg, #handphone_reg, #email_reg{
		margin-left: 50px;
		width: 470px;
	}
	.radio{
		margin-left: 100px;
	}
	#m_p6{
		margin-left: -150px;
	}
}

@media screen and (max-width: 850px){
	#log_reg{
		margin-left: 150px;
	}
/*LOGIN*/
	#email_login, #password_login{
		width: 350px;
	}
	#login_button{
		margin-left: 310px;
	}
}

@media screen and (max-width: 768px){
	#menu1{
		width: 40px;
	}
	#menu2{
		padding-left: 6px;
		padding-right: 6px;
		padding-top: 1px;
		padding-bottom: 1px;
		width: 45px;
	}
	#menu3{
		width: 40PX;
	}
	#menu4{
		padding-top: 4px;
		padding-bottom: 4px;
		padding-left: 4px;
		padding-right: 4px;
		width: 40px;
	}
	.dropdown-content {
	    min-width: 20px;
	}

	.dropdown-content a {
	    font-size: 10px;
	}

/*NOTIF LOGIN REGISTER*/
	#uname_reg, #upass_reg, #upass_conf_reg, #uname_full_reg, #nama_toko_reg, #alamat_toko_reg, #kota_reg, #provinsi_reg, #phone_reg, #handphone_reg, #email_reg{
		margin-left: 100px;
	}
	#m_p3{
		margin-left: -200px;
	}
	#m_p4{
		margin-left: -60px;
	}
	#m_p5{
		margin-left: 0px;
	}
	#m_p6{
		margin-right: 180px;
	}
	.radio{
		margin-left: 150px;
	}
	#register_button{
		margin-left: 100px;
	}

}

@media screen and (max-width: 680px){
	#menu1{
		width: 30px;
	}
	#menu2{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 1px;
		padding-bottom: 1px;
		width: 35px;
	}
	#menu3{
		width: 30px;
	}
	#menu4{
		padding-top: 4px;
		padding-bottom: 4px;
		padding-left: 4px;
		padding-right: 4px;
		width: 30px;
	}
	#email_login{
		margin-top: -40px;
		width: 300px;
		border-radius: 10px;
		margin-left: 120px;
	}
	#password_login{
		width: 300px;
		border-radius: 10px;
		margin-left: 120px;
	}
	#login_button{
		margin-left: 250px;
	}
	#drop1, #drop2, #drop3{
		margin-right: 8px;
	}

	.dropdown-content {
	    min-width: 5px;
	}

	.dropdown-content a {
	    font-size: 8px;
	}
}

@media screen and (max-width: 450px){
	.dropdown{
		display: none;
	}
	.header{
		height: 200px;
	}
	#logo_image{
		width: 250px;
		margin-left: 30px;
	}
	#lang{
		margin-top: 80px;
		margin-left: -30px;
		position: absolute;
	}
	#log_reg{
		position: absolute;
		margin-left: -75px;
		margin-top: 105px;
		padding-left: 20px;
		padding-right: 20px;
	}
	#btn_menu{
		display: block;
		position: absolute;
		font-weight: bold;
		margin-left: -25px;
		margin-top: 140px;
		cursor: pointer;
	}
	.m_menu{
		z-index: 999999;
	}
/*NOTIFIKASI*/	
	.m_notifikasi_content p{
		width: 150px;
		font-size: 12px;
	}

/*LOGIN*/
	.m_login_content{
		margin-left: 20px;
		width: 320px;
	}
	.m_login_content p{
		width: 250px;
		text-align: center;	
	}
	#email_login, #password_login{
		width: 250px;
	}
	#login_button{
		margin-left: 110px;
	}

/*REGISTER*/
	#uname_reg, #upass_reg, #upass_conf_reg, #uname_full_reg, #nama_toko_reg, #alamat_toko_reg, #kota_reg, #provinsi_reg, #phone_reg, #handphone_reg, #email_reg{
		margin-left: 20px;
		width: 240px;
	}
	#m_p3{
		margin-left: 0px;
	}
	#lainnya_reg{
		width: 150px;
	}
	#m_p4{
		margin-left: 0px;
	}
	#m_p5{
		margin-left: 0px;
	}
	#m_p6{
		margin-right: 10px;
	}
	.radio{
		margin-left: 20px;
	}
	#register_button{
		margin-left: -100px;
	}
}
