.content{
	margin-bottom: 1450px;
}
.content_produk_terbaru{
	margin-left: 0px;
	margin-right: 0px;
	position: absolute;
	width: 90%;
	margin-top: 350px;
}
.content_produk_unggulan{
	margin-left: 0px;
	margin-right: 0px;
	position: absolute;
	width: 90%;
	margin-top: 950px;
}
.content_produk_terbaru h3, .content_produk_unggulan h3{
	font-family: Exo2;
	color: #0071bc;
	font-size: 30px;
	text-align: center;
	margin-left: 150px;
	font-weight: bold;
	margin-bottom: 25px;
}
.content_slider{
	width: 250px;
	background-color: #fff;
	box-shadow: 5px 5px 20px grey;
}
.desc_title{
	background-color: #fff000;
	text-align: center;
	font-family: Exo2-med;
	font-size: 15px;
}
.desc_title p{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 10px;
}
.desc_body{
	font-family: Ubuntu;
	color: #636363;
	padding-left: 20px;
}
.desc_footer{
	padding-left: 20px;
	font-family: Ubuntu;
	color: #2081d1;
	padding-bottom: 10px;
}
.owl-carousel{
	margin-left: 100px;
	padding-right: 40px;
}
.content_slider p{
	width: 220px;
}
.paging{
	font-family: Ubuntu;
	color: #636363;
	margin-top: 10px;
}
.content_slider{
	height: 400px;
}
.content_slider img{
	height: 200px;
}
.content_slider .desc_body{
	height: 110px;
}

/*OWL CAROUSEL*/
#arrow_left{
	margin-left: -50px !important;
	margin-top: -220px;
}
#arrow_right_top, #arrow_right_bottom{
	display: none;
}
#arrow_right1, #arrow_right2{
	margin-top: -210px;	
	margin-right: -110px;
}
#arrow_right1:hover, #arrow_right2:hover{
	cursor: pointer;
}

#to_footer{
	padding-top: 50px;
}

@media screen and (max-width: 1024px){
	.owl-carousel{
		width: 95%;
	}
	#arrow_right1, #arrow_right2{
		margin-top: -210px;
		margin-right: -70px;
	}
}

@media screen and (max-width: 850px){
	.owl-carousel{
		margin-left: 80px;
	}
	#arrow_right1, #arrow_right2{
		margin-right: -50px;
	}
}

@media screen and (max-width: 680px){
	.content{
		margin-top: -150px;
	}
}

@media screen and (max-width: 400px){
	.owl-carousel{
		margin-left: 45px;

	}
	#arrow_left{
		margin-left: 0px;
		width: 30px;
		padding-left: 10px;
	}
	#arrow_right1, #arrow_right2{
		width: 20px;
		margin-right: -30px;
	}

	.content{
		margin-top: -200px;
	}
	
	.content_produk_terbaru h3, .content_produk_unggulan h3{
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-left: 35px;
	}
}
