.content{
	margin-top: 100px;
	margin-bottom: 75px;
}
#content_left{
	font-family: Exo2;
	text-align: right;
}
#content_left h2{
	font-size: 30px;
	font-weight: bold;
	color: #0071bc;
}
#content_left h4{
	color: #00a0e8;
}
#content_right{
	font-family: Ubuntu;
	color: #636363;
	text-align: left;
	width: 550px;
	margin-top: 20px;
	line-height: 25px;
}
#p2, #p3{
	margin-top: 20px;
}

span{
	color: #00a0e8;
	font-weight: bold;
}