#to_header{
	margin-top: -50px;
	position: absolute;
}
.content{
	margin-top: 150px;
	margin-bottom: 100px;
}
#title{
	font-family: Exo2;
	color: #0071bc;
	font-size: 30px;
	font-weight: bold;
	margin-left: 250px;
}
.content .form-inline{
	margin-left: -500px;
}
#search_input{
	border-radius: 10px;
	font-family: Ubuntu;
	color: #0071bc;
	width: 350px;
}
.form-group{
	margin-right: 20px;
}
#search_input::-webkit-input-placeholder {
    color:    #0071bc;
}
#search_input:-moz-placeholder {
    color:    #0071bc;
}
#search_input::-moz-placeholder {
    color:    #0071bc;
}
#search_input:-ms-input-placeholder {
    color:    #0071bc;
}
.form-inline{
	text-align: center;
	margin-top: 30px;
}
.form-inline button{
	border-radius: 10px;
	padding-left: 20px;
	color: #0071bc;
	background-color: #fff000;
	font-family: Ubuntu;
	font-size: 16px;
}
#search_icon{
	padding-left: 5px;
}

@media screen and (max-width: 1280px){
	.content .form-inline{
		margin-left: -350px;
	}
}

@media screen and (max-width: 1280px){
	.content .form-inline{
		margin-left: -150px;
	}
}

@media screen and (max-width: 980px){
	.content .form-inline{
		margin-left: -100px;
	}
}

@media screen and (max-width: 850px){
	.content .form-inline{
		margin-left: -50px;
	}
	.content #title{
		margin-left: 200px;
	}
}

@media screen and (max-width: 768px){
	.content .form-inline #search_input{
		width: 350px;
		margin-left: 150px;
		font-size: 12px;
	}
	.content .form-inline button{
		margin-left: 150px;	
		margin-top: -50px;
		position: absolute;
	}
	.content #title{
		margin-left: 180px;
	}
}

@media screen and (max-width: 450px){
	.content{
		margin-bottom: 20px;
	}
	.content .form-inline #search_input{
		width: 200px;
		margin-left: 60px;
		font-size: 12px;
	}
	.content .form-inline button{
		margin-left: 60px;	
		margin-top: -50px;
		position: absolute;
	}
	.content #title{
		margin-left: 65px;
		font-size: 20px;
	}
}
