#to_footer{
	margin-bottom: 120px;
}

@media screen and (max-width: 980px){
	#to_footer{
		margin-bottom: 70px;
	}
}

@media screen and (max-width: 850px){
	#to_footer{
		margin-bottom: 20px;
	}
}


@media screen and (max-width: 768px){
	#to_footer{
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 680px){
	#to_footer{
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 400px){
	#to_footer{
		margin-bottom: -20px;
	}
}
